<div class="wrap">
  <div class="card">
    <div class="logo">ZΞRO</div>
    <h2>Register</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>Username</label>
      <input type="text" formControlName="username" placeholder="Name" />
      <small *ngIf="f.username.touched && f.username.invalid">Mínimo 3 caracteres</small>

      <label>Email</label>
      <input type="email" formControlName="email" placeholder="name@gmail.com" />
      <small *ngIf="f.email.touched && f.email.invalid">Email válido</small>

      <label>Password</label>
      <input type="password" formControlName="password" placeholder="••••••••" />
      <small *ngIf="f.password.touched && f.password.invalid">Mínimo 6 caracteres</small>

      <button class="btn" type="submit" [disabled]="loading">
        {{ loading ? 'Creating...' : 'Create account' }}
      </button>

      <p class="msg" *ngIf="msg">{{ msg }}</p>
    </form>

    <p class="bottom">
      Ya tienes cuenta? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
